resilience4j:
  circuitbreaker:
    configs:
      defecto:
        sliding-window-size: 6
        failure-rate-threshold: 50
        wait-duration-in-open-state: 20s
        permitted-number-of-calls-in-half-open-state: 4
        slow-call-duration-threshold: 3s
        slow-call-rate-threshold: 50
    instances:
      products:
        base-config: defecto
  timelimiter:
    configs:
      defecto:
        timeout-duration: 3s
    instances:
      products:
        base-config: defecto

spring:
  security:
    oauth2: 
      resourceserver:
        jwt:
          issuer-uri: http://127.0.0.1:9100
      client:
        registration:
          client-app:
            provider: spring
            client-id: gateway-app
            client-secret: 12345
            authorization-grant-type: authorization_code
            redirect-uri: http://127.0.0.1:8090/authorized
            scope:
            - openid
            - profile
            client-name: client-app
        provider:
          spring:
            issuer-uri: http://127.0.0.1:9100
  cloud:
    gateway:
     mvc:
      routes:
      - id: msvc-oauth
        uri: lb://msvc-oauth # msvc-oauth es el id
        predicates:
        - Path=/api/security/**
        filters:
        - StripPrefix=2 # la ruta tiene 2 niveles/prefijos son: api y security
      - id: msvc-users
        uri: lb://msvc-users # msvc-users es el id
        predicates:
        - Path=/api/users/**
        filters:
        - StripPrefix=2 # la ruta tiene 2 niveles/prefijos son: api y users
      - id: msvc-products
        uri: lb://msvc-products
        predicates:
        - Path=/api/products/**
        #- Header=token, \d+ # expresion regular, permite digitos, debe existir un prop en el header llamado token q seran numeros
        # - Header=token, 12345 # Condicional para la cabecera, propiedad: token   valor: 12345
        # - Method=GET, POST # solo se aceptan metodos GET y POST para msvc products
        # - Query=color, verde # debe venir el parametro color con valor verde
        # - Query=color2 # debe existir una parametro llamado color2
        # - Cookie=color, azul
        # - Header=Content-Type, application/json
        filters:
        - name: CircuitBreaker
          args:
            name: products
            statusCodes: 500
            fallbackUri: forward:/api/items/5
        - StripPrefix=2
        # - EjemploCookie=Hola mensaje personalizado para msvc productos, user, Andres
      - id: msvc-items
        uri: lb://msvc-items
        predicates:
        - Path=/api/items/**
        filters:
        - StripPrefix=2
        - AddRequestHeader=token-request, aaa
        - AddResponseHeader=token-response, bbb
        - AddRequestParameter=name, Andres
        - SetResponseHeader=Content-Type, text/plain